/* POSISIONAMENTO */

.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

/* HEADER */

header {
    background: #4864c0;
    height: 150px;
}

.logoBemol {
    max-width: 300px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 30px 0px 30px 100px;
} 

h1 {
    color: #1d2f8a;
    font-size: 61px;
    font-weight: 700;
    line-height: 67px;
    width: 468px;
    height: 200px;
    margin-bottom: 20px;
}

/* PRIMEIRA SEÇÃO */

.firstSection {
    margin-top: 60px;
}

.firstSection p {
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    color: #1d2f8a;
    width: 390px;
    text-align: left;
    line-height: 130%;
    margin-bottom: 35px;
}

.linkAbrirConta {
    display: inline-block;
    width: 330px;
    border-radius: 10px;
    padding: 16px 24px;
    background-color: #FFC04A;
    color: #1d2f8a;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

/* SEGUNDA SEÇÃO */

.secondSection {
    max-width: 1200px;
    max-height: 690px;
    margin: auto;
}

.secondSection h6 {
    width: 500px;
    color: #1d2f8a;
    margin-left: 45px;
}

.reginaImg {
    height: 550px;
    width: 570px;
}

.cardVantagens {
    flex-wrap: wrap;
    max-width: 450px;
    max-height: 655px;
    justify-content: space-between;
}

.miniCard {
    width: 220px;
    margin: 5px auto;
}

.miniCard spam {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 200px;
    height: 50px;
}

/* TERCEIRA SEÇÃO */

.thirdSection {
    width: 1120px;
    height: 460px;
    border-radius: 70px;
    margin: auto;
    background-color: #4864c0;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 80px;
}

.thirdSectionTitle {
    margin: 0 auto;
    width: 350px;
    height: 400px;
}

.thirdSectionDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.thirdSectionDescription p {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 60px;
}