/* POSISIONAMENTO */

.flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRowSpaceAround {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* BODY */
body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.container {
    width: 90vw;
    margin: auto;
}

/* HEADER */

header {
    background: #4864c0;
    height: 150px;
}

.logoBemol {
    max-width: 300px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 30px 0px 30px 100px;
} 

h1 {
    color: #1d2f8a;
    font-size: 61px;
    font-weight: 700;
    line-height: 67px;
    width: 468px;
    height: 200px;
    margin-bottom: 20px;
}

/* MAIN - PRIMEIRA SEÇÃO */

.firstSection {
    margin-top: 60px;
    height: 660px;
}

.firstSection p {
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    color: #1d2f8a;
    width: 390px;
    text-align: left;
    line-height: 130%;
    margin-bottom: 35px;
}

.linkAbrirConta {
    display: inline-block;
    width: 330px;
    border-radius: 10px;
    padding: 16px 24px;
    background-color: #FFC04A;
    color: #1d2f8a;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

.linkAbrirConta:hover {
    background: #4864c0;
    color: #FFC04A;
}

.mainPhoneImage {
    max-width: 260px;
}

/* SEGUNDA SEÇÃO */

.secondSection {
    max-width: 1200px;
    max-height: 690px;
    margin: auto;
}

.secondSection h6 {
    width: 400px;
    color: #1d2f8a;
    margin-left: 15px;
}

.reginaImg {
    height: 570px;
    width: 570px;
}

.cardVantagens {
    flex-wrap: wrap;
    max-width: 450px;
    max-height: 655px;
    justify-content: space-between;
}

.miniCard {
    width: 220px;
    margin: 5px auto;
}

.miniCard span {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0em;
    max-width: 200px;
    height: 50px;
    text-align: left;
    color: #1d2f8a;
}

/* TERCEIRA SEÇÃO */

.thirdSection {
    width: 1100px;
    height: 460px;
    border-radius: 70px;
    margin: auto;
    background-color: #4864c0;
    margin: auto;
    margin-bottom: 90px;
    margin-top: 80px;
}

.thirdSectionTitle {
    margin: 0 auto;
    width: 350px;
    height: 400px;
}

.thirdSectionDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.thirdSectionDescription p {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 70px;
}

/* QUARTA SEÇÃO */

.fourthSection img {
    height: 600px;
    width: 1100;
    margin: 20px auto;
    display: flex;
}

/* QUINTA SEÇÃO - CALCULADORA */

.fifthSection {
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#calculatorContainer {
    height: 460px;
}

#calculatorContainer h3 {
    height: 130px;
    width: 640px;
    font-size: 61px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    color: #1d2f8a;
    margin-bottom: 40px;

}

#inputValue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

#inputValue input {
    height: 50px;
    width: 410px;
    border: none;
    border-bottom: 2px solid #1d2f8a;
    margin-bottom: 15px;
    outline: none;
    font-size: 25px;
    color: #1d2f8a;
}

#inputValue span {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #0a102e;
    height: 15px;
    width: 350px;
    margin-bottom: 15px;
    
}

#timeInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
  
#timeInput span {
    font-size: 25px;
    color: #1d2f8a;
}
  
#timeInput input {
    width: 416px;
}

.simulatorButton {
    border-radius: 10px;
    padding: 2px 5px;
    border: 2px solid #ffc04a;
    color: #1d2f8a;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
  
.simulatorButton:hover {
    border-color: #1d2f8a;
    opacity: 60%;
}
  
#simulatorTimeBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
.containerSimulatorBox {
    height: 300px;
    width: 430px;
    background-color: #4864c0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    border-radius: 4px;
}
  
#simulatorDay, #simulatorMonth {
    width: 100%;
}

.estilizacaoSpan {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #ffffff;
}
  
.points {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.pointsDivOne {
    border-bottom: 2px solid #fff;
    padding-bottom: 15px;
}
  
.starsDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}
  
.starsDiv span {
    height: 65px;
    width: 30px;
    font-size: 40px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    color: #ffffff;
}
  
/*SEXTA SEÇÃO */
  
.sixthSection {
    height: 180px;
    width: 1140px;
    margin: 0 auto;
    margin: 30px;
    padding-bottom: 20px;
}
  
.sixthSection h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    color: #1d2f8a;
    width: 500px;
}
  
.containerButtons {
    height: 185px;
    width: 510px;
    padding: 10px;
}
  
.linkFaq {
    width: 330px;
    border-radius: 10px;
    padding: 16px 24px;
    border: 3px solid #ffc04a;
    color: #1d2f8a;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
}
  
.linkFaq:hover {
    background-color: #ffc04a;
    border-color: #1d2f8a;
}
  
footer {
    background-color: #4864c0;
    border-radius: 45px 45px 0 0;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
  
.imgRedes {
    height: 70px;
    width: 250px;
}
  
.imgLogos {
    height: 90px;
    width: 500px;
}